/*----------------------------
    The file upload form
-----------------------------*/

.file-upload {
    border-radius: 5px;
    margin: 0 auto;
    width: 100%;
}

.drop {
    background-color: #fff;
    padding: 20px 0;
    border: 2px dashed #ddd;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    font-size:16px;
    font-weight:bold;
    color: #ddd;
}

.drop:hover, .drop.active {
    border: 2px dashed #08c;
    color: #08c;
}

.drop a{
    background-color:#007a96;
    padding:12px 26px;
    color:#fff;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
}

.drop a:hover{
    background-color:#0986a3;
}

.drop input{
    display:none;
}

.file-upload ul {
    list-style:none;
    margin: 10px 0 0 0;
    padding: 0;
}

.file-upload ul li {
    background-color: #fff;
    border-top: 1px solid #eee;
    padding: 15px 0 2px;
}

.file-upload ul li input {
    display: none;
}

.file-upload ul li .progress {
    float: left;
}

.file-upload ul li canvas {
    float: left;
}

.file-upload ul li div.clearfix {
    clear: both !important;
}

.file-upload ul li .file {
    width: 75%;
    float: left;
    margin-left: 25px;
    margin-top: 4px;
}

.file-upload ul li .filename {
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    color: #444;
    font-size: 16px;
}

.file-upload ul li.error .filename {
    color:red;
}

.file-upload ul li .size {
    font-weight: normal;
    font-style: normal;
    color: #7f7f7f;
    display: block;
    font-size: 14px;
}

.file-upload ul li .cancel {
    width: 15px;
    height: 12px;
    background: url('../img/icons.png') no-repeat;
    cursor:pointer;
    float: right;
    margin-top: 15px;
}

.file-upload ul li.working .cancel {
    height: 16px;
    background-position: 0 -12px;
}
